@model IEnumerable<MvcSmartStore.Models.Smartphone>

@using (Html.BeginForm("All", "Smartphone", FormMethod.Get))
{
    <div class="row mb-3">
        <div class="col-md-2">
            Brand:
            <select name="brand" class="form-control">
                <option value="">All</option>
                @foreach (var b in ViewBag.Brands as List<string>)
                {
                    <option value="@b">@b</option>
                }
            </select>
        </div>

        <div class="col-md-1">
            Price from:
            <input type="number" name="minPrice" class="form-control" step="0.01" />
        </div>

        <div class="col-md-1">
            Price to:
            <input type="number" name="maxPrice" class="form-control" step="0.01" />
        </div>

        <div class="col-md-2">
            RAM:
            <select name="ram" class="form-control">
                <option value="">All</option>
                @foreach (var r in ViewBag.Rams as List<int>)
                {
                    <option value="@r">@r</option>
                }
            </select>
        </div>

        <div class="col-md-2">
            Refresh Rate:
            <select name="refresh_rate" class="form-control">
                <option value="">All</option>
                @foreach (var r in ViewBag.Refresh_rate as List<int>)
                {
                    <option value="@r">@r</option>
                }
            </select>
        </div>

        <div class="col-md-2">
            Storage:
            <select name="storage" class="form-control">
                <option value="">All</option>
                @foreach (var r in ViewBag.Storage as List<int>)
                {
                    <option value="@r">@r</option>
                }
            </select>
        </div>

        <div class="col-md-1 mt-4">
            <button type="submit" class="btn btn-primary">Filter</button>
        </div>
    </div>
}

<p><strong>Liczba wyników:</strong> @Model.Count()</p>

<div class="container">
    <div class="row">
        @foreach (var smartphone in Model)
        {
            <div class="col-md-3 mb-4">
                <a asp-controller="Smartphone" asp-action="SpecificsOfPhone" asp-route-id="@smartphone.Id" class="text-decoration-none text-dark">
                    <div class="card h-100">
                        <img src="@smartphone.imgURL" style="max-width: 250px; height: auto;" />
                        <div class="card-body">
                            <h5 class="card-title">@smartphone.Brand @smartphone.Model</h5>
                            <p class="card-text">@smartphone.Price zł</p>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script>
            window.onload = function () {
                const message = '@TempData["PopupMessage"]';
                if (message) {
                    alert(message);
                }
            };
        </script>
    }
}